select#language {
    padding: 7px 4px !important;
    width: 100% !important;
    border-color: #dad2d2;
}

/*.error {
    margin-left: 23px !important;
    color: red !important;
    font-size: 17px !important;
    margin-top: 17px !important;
}*/
.panel-footer input[type="submit"]{
    padding: 9px 24px !important;
    border: none !important;
    background: #4a89dc !important;
    color:#fff !important;
}
.er {
    color: red;
}
.datepicker table .day {
  cursor: pointer;
}
.admin-form #assign-vaccine .btn-group .multiselect-container li label.checkbox{
    border: none;
 background: none;
 width: 100%;
}
.admin-form #assign-vaccine .btn-group .multiselect-container li.active label.checkbox{
    color: #fff;
}
table#datatable2 img {
  width: 150px;
}

#add_register img {
    width: 150px;
    margin: 10px;
}
.img-c {
  text-align: right;
}
.section from-web-cam , .section.choose-file {
  display: none;
  visibility: hidden;
}

/*custom css*/
#banner-login{ 
	max-width: 800px;
	margin: 0 auto;
}
#banner-login img{
	max-width: 100%;
	height: auto;
}
.mw140.mr25.mb20 {
  width: 100% !important;
}
.chart-legend {
  text-align: center;
}
.logo-container img {
  max-width: 56%;
}
.pos45 {
  margin-bottom: 10%;
  margin-top: 8%;
}
.paginate_button {
  background-color: #d7b221;
  color: #fff;
  cursor: pointer;
  margin: 2px;
  padding: 4px 11px;
  text-decoration: none !important;
}
.logo-container.logo52{
 background: #eee none repeat scroll 0 0;
    margin-bottom: 20px;
    padding: 25px 0;
}
.logo-container.logo52 img{
 max-width: 100%;
}
.field.file {
  margin-bottom: 2%;
}
.panel.last-voided-sec table tr td img {
  height: 60px;
  width: 60px !important;
}
.highcharts-credits {
  display: none !important;
  visibility: hidden !important;
}
.highcharts-button.highcharts-contextbutton.highcharts-button-normal {
  display: none !important;
  visibility: hidden !important;
}
     .profile-page10 #main #content_wrapper2 {
              margin: 0 5%;
            }
            #main::before {background: #fff ;}
            .REG-NAME .boldme {
  color: #000;
  text-align: center;
}
.profile-page10 .main-header {
  border-bottom: 3px solid #000;
}
.profile-page10 .heading {
  color: #000;
  margin-bottom: 4%;
  text-align: center;
}